<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CitiSourceFolder" value="\\10.21.4.83\citishare\RawFiles\" />
    <add key="BMOSourceFolder" value="\\10.21.4.83\HarrisRepo\Reports\DetailReport\" />
    <add key="DayToProcess" value="-1" />
    <add key="FilesToProcess" value="BMO,CITI" />
    <add key="SpecificDate" value="20210108" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DRConn" providerName="System.Data.sqlclient" connectionString="server=10.30.11.88;database=CQGLOBALUS;User ID=CQUSAPP;Password=Phillip1234!;" />-->
    <add name="PCIBO" connectionString="Server=PCI-DEVDB1;DataBase=PCIBO;Integrated Security=SSPI"/>
  </connectionStrings>

</configuration>
