<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CMEAPILink" value="https://api.refdata.cmegroup.com/v1/" />
    <add key="CMEAPI_PageSize" value="100" />
  </appSettings>
  <connectionStrings>
    <add name="PCIBO" connectionString="Server=PCI-DEVDB1;DataBase=PCIBO;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>