<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	
		<connectionStrings>
			<add name="DRConn" providerName="System.Data.sqlclient" connectionString="server=10.30.11.88;database=CQGLOBALUS;User ID=CQUSAPP;Password=Phillip1234!;" />
		</connectionStrings>
	
<appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
</appSettings>
	
</configuration>  